body{
  margin:10px 15px 5px 5px;
  font-size:14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   }
  a{
    text-decoration: none;
    color:#000000;
  }  
  a:hover {
    color: hsl(241, 77%, 52%);
    }
 ul li{
  display: inline;   
  list-style-type: none;
 }
 li{
 padding-right: 10px;
 
}
 
 .left
    {
      padding: 0em;
      
    }

.right {
   padding-left: 10px;
   float: right;
} 

.center-logo {
  padding-top: 109px;
  text-align: center;
   }
  
img
  {
    width: 22%;
    height: 60%;
    padding-bottom: 20px;
  }
  .testo{
    padding-bottom: 20px;
  }
  label{
    padding-right: 20px;
  }
 [type= 'text']
  {
    border-radius: 20px;
    text-align: center;
    width: 40%;
    height: 40px;
     } 

[type='submit']{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 10px 40px;

}
footer{
  
 padding-top: 15%;
}